REDIS_ENDPOINT=abcd
REDIS_PORT=9999
REDIS_PASSWORD=1234567890
REDIS_REGION=us-east-1

MONGODB_PROTOCOL="mongodb+srv"
MONGODB_PASSWORD="124567890"
MONGODB_USER="mongodb_user"
MONGODB_HOST="mongodb.net/?retryWrites=true&w=majority"
MONGO_LOGGER="mongodb+srv://user:password@host/db_name?retryWrites=true&w=majority"