@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  // font-family: 'Ubuntu Mono', monospace;
  // font-family: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  width: 100%;
  margin-top: 5vh !important;
}

.footerContainer {
  margin-top: auto;
  padding: 2rem 0;
  background-color: #1a1a1a;
  width: 100%;
}

.debug {
  @apply border border-red-500 bg-green-100;
}
