@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  // font-family: 'Ubuntu Mono', monospace;
  // font-family: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug {
  @apply border border-red-500 bg-green-100;
}
