.footer {
  // height: 8vh;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #bec6c7;
  // position: fixed;
}

.footer p {
  margin: 10px 0;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
