.container {
  min-height: calc(100vh - 22vh);
}

.curlLink {
  background-color: aquamarine;
  padding: 1rem;
  font-family: 'Fira Code Retina', monospace;
  border: rgb(47, 181, 136) 1px solid;
  border-radius: 10px;
  cursor: pointer;
}
